/* MAX WIDTHS */

@media screen  and (max-width: 300px) {
    #main {
        margin-right: 35%;
    }
    #maindiv {
        margin-left: 0rem;
        padding: 0rem;
    }
    #maindiv > * {
        font-size: 0.7rem;
    }
    #main {
        height: 50vh;
        margin-left: 0rem;
    }
    #nav-links {
        gap: 0.8rem;
    }
}

@media screen  and (max-width: 450px) {
    .maindiv {
        margin-left: 0rem;
        padding: 0rem;
    }
    #main {
        height: 50vh;
        margin-left: 0rem;
    }
}

@media screen  and (max-width: 800px) {
    #main {
        margin-left: 0rem;
        padding-left: 2rem;
        padding-bottom: 0rem;
    }
    #name {
        font-size: 2rem;
    }
    #mainbio {
        font-size: 1rem;
    }
    .project-div {
        flex-direction: column;
        align-items: normal;
        justify-content: left;
    }
    .project-image {
        margin-bottom: 2rem;
    }
}

@media screen  and (max-width: 1100px) {
    .project-card {
        width: 95%;
        margin-left: 2.5%;
    }
}

/* MIN-WIDTHS */

@media screen  and (min-width: 600px) {
    #headshot {
        max-width: 220px;
    }
}

@media screen  and (min-width: 800px) {
    .project-div > * {
        padding-right: 2rem;
    } 
    .project-image {
        max-width: 400px;
        height: auto;
    }
    #main-contact {
        font-size: 1.5rem;
    }
}

@media screen  and (min-width: 1100px) {
    #main {
        margin-left: 6rem;
        padding-bottom: 0rem;
    }
    #maindiv {
        margin-right: 5rem;
    }
    #education > *, #experience > * {
        font-size: 1.5rem;
    }
    .project-name {
        font-size: 1.5rem;
    }
    .project-description, .viewGithub {
        font-size: 1;
    }
    #intro, #about-header, #projects-header {
        font-size: 2rem;
    }
}

@media screen  and (min-width: 1200px) {
    #main {
        margin-left: 8rem;
        padding-bottom: 0rem;
    }
}

@media screen  and (min-width: 1300px) {
    #maindiv {
        margin-right: 8rem;
    }
}

/* HEIGHT */

@media screen  and (max-height: 500px) {
    #main {
        height: 40vh;
    }
    #maindiv {
        padding-bottom: 2rem;
    }
    #main-contact {
        font-size: 1rem;
    }
    #intro {
        font-size: 1.3rem;
    }
}