@media screen  and (max-width: 450px) {
    .maindiv {
        margin-left: 0rem;
        padding: 0rem;
    }
    #main {
        height: 50vh;
    }
}

@media screen  and (max-width: 800px) {
    #main {
        margin-left: 0rem;
        padding-left: 2rem;
        padding-bottom: 0rem;
    }
    #name {
        font-size: 2rem;
    }
    #mainbio {
        font-size: 1rem;
    }
    .project-div {
        flex-direction: column;
        align-items: normal;
        justify-content: left;
    }
    .project-image {
        margin-bottom: 2rem;
    }
}

@media screen  and (min-width: 600px) {
    #headshot {
        max-width: 220px;
    }
}

@media screen  and (min-width: 800px) {
    .project-image {
        max-width: 400px;
        height: auto;
    }
    #intro {
        font-size: 1.5rem;
    }
    .project-div > * {
        padding-right: 2rem;
    } 
}

@media screen  and (min-width: 1000px) {
    #main {
        margin-left: 6rem;
        padding-bottom: 0rem;
    }
}

@media screen  and (min-width: 1200px) {
    #main {
        margin-left: 8rem;
        padding-bottom: 0rem;
    }
}

@media screen  and (max-height: 500px) {
    #main {
        height: 40vh;
    }
}