@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@font-face {
    font-family: TwentiethCentury;
    src: url(TwCenMT.ttf); 
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

        /* nav */

#nav {
    text-align: center;
    justify-content: right;
    align-items: center;
    transition: 0.7s;
    width: 100%;
    display: flex;
    gap: 6rem;
    background-color: transparent;
}

#nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    margin-top: 0.8rem;
    list-style-type: none;
}

.navlink {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navlink:hover {
    color: rgb(180, 15, 15);
}
    
    /* globe/content styling */

#globe-container {
    position: fixed;
    z-index: -1; /* Set a higher z-index to make sure it's above other content */
} 
    
#globe {
    display: block;
    height: 100%;
}

/* main section styling */

#main {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-bottom: 0rem;
    background-color: transparent;
    height: 60vh;
    margin-right: 50%;
    display: flex;
}

#maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

#name {
    width: 35%;
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

#mainbio {
    justify-content: center;
    align-items: center;
    color: rgb(190, 151, 59);
}

#main-contact {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#email, #resume {
    color: white;
}

/* projects styling */

#projects {
    padding: 2rem;
    background-color: white;
}

#project-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 70%;
    margin-left: 15%;
}

.project-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-div > * {
    flex: 1;
} 


#projectsdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

#aboutdiv {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-header {
    color: rgb(196, 40, 40);
    height: 10vh;
}

.project-name {
    color: rgb(196, 40, 40);
}

.project-image {
    max-width: 80%;
    min-width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.project-description {
    max-width: 80%;
    font-family: TwentiethCentury;
    font-weight: 300;
    margin-bottom: 1rem;
}

/* about me styling */

#about {
    background-color: rgba(61, 116, 171);
}

#aboutdiv {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-header {
    align-items: center;
    display: flex;
    color: white;
    padding: 2rem;
}

#about-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-top > * {
    flex: 1;
    padding: 1rem;
}

#intro {
    font-weight: 300;
    color: white;
    font-family: TwentiethCentury;
}

#headshot {
    border-radius: 50%;
    width: 50%;
}

#about-body > * {
    padding: 0 1rem 3rem;
    color: white;
}

#edu, #exp {
    padding-top: 1rem;
    font-family: TwentiethCentury;
    font-weight: 300;
}

/* footer styling */

#footer {
    background-color: white;
    display: flex;
}

#footer > * {
    flex: 1;
}

#footerwords {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#socials {
    display: flex;
    justify-content: flex-end;
}

.social {
    width: 20px;
    margin-right: 3rem;
}